@media screen and (min-width: 800px) {
    dialog {
        background: transparent;
        position: absolute;
        top: 0;
        padding-left: 8rem;
    }
    dialog:not([open]) {
        opacity: 1;
    }
    .close-button {
        display: none;
    }
    .hamburger {
        display: none;
    }
    .mobile-menu {
        padding: 0;
        background: transparent;
        justify-content: space-around;
    }
    .mobile-menu, .link-wrapper, .mobile-menu-btns {
        flex-direction: row;
        color: white;
    }
    .mobile-menu-btns {
        align-items: flex-start;
        margin: 0;
    }
    button.filled-menu {
        background: white;
        color: var(--very-light-red);
    }
    .outlined-menu {
        color: white;
    }
    hr {
        display: none;
    }
    summary::after {
        content:url("images/icon-arrow-light.svg");
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .head {
        background: no-repeat 45% 40% url(./images/bg-pattern-intro-desktop.svg),linear-gradient(hsl(13, 100%, 72%),hsl(353, 100%, 62%));
    }
    .btn {
        font-size: 18px;
    }
}

@media screen and (min-width: 600px) {
    .integration {
        overflow: hidden;
    }
    .integration.right-img {
        flex-direction: row-reverse;
        padding-left: 1rem;
    }
    .integration.left-img {
        flex-direction: row;
        padding-right: 1rem;
    }
    .integration picture {
        flex: 1.5;
    }
    .integration.right-img picture {
        margin-right: -20%;
    }
    .integration.left-img picture {
        margin-left: -20%;
    }
    .outer {
        flex: 1;
        font-size: 0.7em;
    }
    .features {
        flex-direction: row;
        font-size: 0.8em;
        margin: 3rem 0;
        justify-content: space-evenly;
        padding: 0;
        background-image: url("images/bg-pattern-circles.svg"),linear-gradient(hsl(237, 17%, 21%),hsl(237, 23%, 32%));
        background-repeat: no-repeat;
        background-size: 50%, 100%;
        background-position: 0 100%;
    }
    .features img {
        width: 320px;
        margin-top: 0;
    }
    .features, .outer, .section-integration h1 {
        text-align: start;
    }
    .features > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 540px;
    }
    .section-integration > h1 {
        text-align: center;
    }
}

@media screen and (min-width: 1200px) {
    .features img {
        margin-left: 3rem;
        transform: scale(1.5);
    }
}