*, *::after, *::before {
    box-sizing: inherit;
}

:root{
    --light-red: hsl(356, 100%, 66%);
    --very-light-red : hsl(355, 100%, 74%);
    --dark-blue: hsl(208, 49%, 24%);
    --very-dark-blue : hsl(237, 17%, 21%);
    --very-very-dark-blue :hsl(237, 23%, 32%);
    --grayish-blue : hsl(240, 2%, 79%);

    --grey : hsl(207, 13%, 34%);
}

html {
    box-sizing: border-box;
    font-size: 16px;
}

body{
    margin: 0;
}

.content h1{
    margin-top: 4rem;
    font-weight: 400;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 0.5rem;
    margin-bottom: 2.5rem;
}

.content{
    text-align: center;
}

.head{
    min-height: 100vh;
    background: no-repeat 33% 30% url(./images/bg-pattern-intro-mobile.svg),linear-gradient(hsl(13, 100%, 72%),hsl(353, 100%, 62%));
    background-size: 300%;
    padding: 2rem 1rem;
    border-bottom-left-radius: 20%;
    color: white;
    font-family: "Ubuntu",sans-serif;
    padding-bottom: 3rem;
}

.btn{
    border-radius: 1000000000px;
    font-size: 1rem;
    padding: 1rem;
    margin: 0.5rem 0.5rem;
    border-width: 1px;
    border-style: solid;
    border-color: var(--light-red);
    cursor: pointer;
    font-family: "Ubuntu",sans-serif;
    font-weight: 600;
}

.btnrow{
    margin: 1.5rem 0;
}

.filled{
    background-color: white;
    color: var(--very-light-red);
}

.outlined{
    background-color: transparent;
    border-color: white;
    color: white;
}

.p1{
    margin-bottom: 3rem;
    font-family: "Overpass", sans-serif;
    opacity: 0.9;
}

.integration,
.features{
    margin-top: 3rem;
}

.integration{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.integration h1{
    font-family: "Ubuntu",sans-serif;
    color: var(--dark-blue);
}


.integration p{
    color: var(--grey);
    font-weight: 300;
    font-family: "Overpass",sans-serif;
    line-height: 2;
}

.outer{
    text-align: center;
}

.img1, .img2{
    width: 100%;
}

.img2{
    margin-top:-50%;
}

.features{
    position: relative;
    background: no-repeat center -60% url("images/bg-pattern-circles.svg"),linear-gradient(hsl(237, 17%, 21%),hsl(237, 23%, 32%));
    background-size: contain;
    text-align: center;
    margin-top: 75%;
    color: white;
    font-family: "Overpass";
    border-radius: 0 20% 0;
    padding: 1.5rem;
}

.features p{
    opacity: 0.9;
    line-height: 2;
}
