*, *::after, *::before {
    box-sizing: inherit;
}

:root{
    --light-red: hsl(356, 100%, 66%);
    --very-light-red : hsl(355, 100%, 74%);
    --dark-blue: hsl(208, 49%, 24%);
    --very-dark-blue : hsl(237, 17%, 21%);
    --very-very-dark-blue :hsl(237, 23%, 32%);
    --grayish-blue : hsl(240, 2%, 79%);
    
    --grey : hsl(207, 13%, 34%);
}

html {
    box-sizing: border-box;
    font-size: 16px;
}

body{
    margin: 0;
    position: relative;
    font-size: calc(0.6rem + 1vw);
}

.content h1{
    margin: 4rem 0.67rem 0.67rem;
    font-weight: 400;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 0.5rem;
    margin-bottom: 2.5rem;
}

.content{
    text-align: center;
}

.head{
    min-height: 100vh;
    background: no-repeat 45% 40% url(./images/bg-pattern-intro-mobile.svg),linear-gradient(hsl(13, 100%, 72%),hsl(353, 100%, 62%));
    background-size: 300%;
    padding: 2rem 1rem 3rem;
    border-bottom-left-radius: 120px;
    color: white;
    font-family: "Ubuntu",sans-serif;
    position: relative;
}

.btn{
    border-radius: 1000000000px;
    font-size: 1rem;
    padding: 1rem;
    margin: 0.5rem 0.5rem;
    border-width: 1px;
    border-style: solid;
    border-color: var(--light-red);
    cursor: pointer;
    font-family: "Ubuntu",sans-serif;
    font-weight: 600;
    display: inline-block;
    width: 10rem;
    /*font-size: 4vw;*/
}

.btnrow{
    margin: 1.5rem 0;
}

.filled{
    background-color: white;
    color: var(--very-light-red);
}

.outlined{
    background-color: transparent;
    border-color: white;
    color: white;
}

.p1{
    font-family: "Overpass", sans-serif;
    opacity: 0.9;
    /*font-size: 2.5vw;*/
    margin: 1rem 1rem 3rem;
}

.section-integration,
.features{
    margin-top: 3rem;
}

.integration{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-integration h1{
    font-family: "Ubuntu",sans-serif;
    color: var(--dark-blue);
    text-align: center;
}


.integration p{
    color: var(--grey);
    font-weight: 300;
    font-family: "Overpass",sans-serif;
    line-height: 2;
}

.outer{
    text-align: center;
}

.inner{
    margin: 3rem 0;
    padding: 0 1.5rem;
}

.img1, .img2{
    width: 100%;
}

.img2{
    margin-top:-50%;
}

.features{
    display: flex;
    flex-direction: column;
    position: relative;
    background: no-repeat center -70% url("images/bg-pattern-circles.svg"),linear-gradient(hsl(237, 17%, 21%),hsl(237, 23%, 32%));
    background-size: contain;
    text-align: center;
    margin-top: 45%;
    color: white;
    font-family: "Overpass", sans-serif;
    border-radius: 0 80px 0;
    padding: 1.5rem;
}

.features p{
    opacity: 0.9;
    line-height: 2;
}

footer{
    background-color: hsl(240, 10%, 16%);
    text-align: center;
    color: #fff;
    border-radius: 0 100px 0 0;
    margin-top: 2rem;
    padding: 2.5rem 0;
}

footer p{
    color: var(--grayish-blue);
}

footer img{
    margin: 2rem;
}

footer div h1{
    margin: 2rem 1rem;
}

footer div{
    margin: 3rem 1rem;
}

.attribution{
    position: absolute;
    bottom: 0;
    color: var(--grayish-blue);
    left:0;
    right : 0;
    text-align: center;
}

.attribution a{
    color: white;
    text-decoration: none;
}